ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:visited { 
    text-decoration: none; 
    color: white; 
   }
.link {
    text-decoration: none;
}
.header-links {
    margin-left: auto;
}
.logo {
    width: 18em;
}